*{
padding: 0px;
margin: 0px;
}

.menu-principal{
width: 100%;
height: 90px;
background-color: rgb(28, 28, 29);
}

.alinhar-titulo h1{
margin-right: 12px;

}

.menu-principal ul{
margin-left: 12px;
width: 150px;
height: 50px;
}

.link {
  margin-left: 1100px;
  padding: 22px;
}
.link a{

  font: normal 20px arial;
  text-decoration: none;
  color: #ffffff;
}

.logo{
float: left;
  width: 70%;
  height: 50px;
  padding: 16px;
}
.logo :hover{
  margin-top: 10px!important;
  position: relative!important;

}

input{
display: block;
padding: 15px;
width: 240px;
margin: 10px;

}
button{
background-color: royalblue;
padding: 15px;
width: 200px;
color:#ffffff;
}

.alinhar{
padding-left: 45px;

}

.centralizar{
  width: 450px;
  margin:  150px 510px ;
}
.centralizar h1{
padding-left: 40px;

}
h4 {
padding-left: 30px;

}
h4 a{
text-decoration: none;
color: royalblue;

}

.roda-pe{
width: 100%;
height: 90px;
background-color: rgb(75, 74, 73);
}

.roda-pe ul {
  float: left;
  width: 70%;
  height: 50px;
  padding: 25px;
  margin-left: 100px;
display: inline;
}

.roda-pe p{
  font: normal 17px arial;
  color: #ffffff;
}

.roda-pe img{
  width: 60px;
  margin-left: 800px;
}

input[type="email"]{
border-color: black;

}

input[type="password"]{

border-color: black;
}

.senha{
margin-left: 85px;
  
}

.senha a{

  text-decoration: none;
  text-transform: initial;
  color: royalblue;
}

.msg{
margin-left: 50px;

}


